<section>
  <h1>The website of Tyler Willingham</h1>

  <p>
    I've been so busy with <%= link_to "my career", "https://github.com/tylerwillingham/resume", target: :_blank %> 
    that I've unintentionally neglected by personal website.
  </p>

  <p>
    I'm <%= link_to "working on it again now.", "https://github.com/tylerwillingham/twilling", target: :_blank %>
  </p>
</section>
